ScientificGames Web Service/OrderProcessingTestClient/Service References/OrderProcessing/OrderProcessingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://72.64.70.125:8080/OrderProcessingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary.DataContracts" />
  <xs:element name="OrderStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLibrary.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:OrderStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderStatusRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLibrary.DataContracts" minOccurs="0" name="OrderStatusRequestResult" nillable="true" type="q2:OrderStatusResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLibrary.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:ShippingInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLibrary.DataContracts" minOccurs="0" name="GetShippingRequestResult" nillable="true" type="q4:ShippingInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceLibrary.DataContracts" minOccurs="0" name="request" nillable="true" type="q5:SubmitOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceLibrary.DataContracts" minOccurs="0" name="SubmitOrderResult" nillable="true" type="q6:SubmitOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>